.logo {
    width: 60%;
    height: 70%;
    position: relative;
    top: -5px;
}

.app-name {
    font-size: 0.4rem;
    position: relative;
    right: 50px;
    top: 15px;
    font-weight: lighter;
}

.slogan {
    font-size: 0.2rem;
    text-align: center;
    font-weight: lighter;
    position: relative;
    right: 80px;
    width: 50%;
    top: 25px
}